@import "_mixins.scss";

$font-serif: Georgia, Serif;
$font-sans-serif: Helvetica-Neue, Helvetica, Serif;
$base-color: #E5E3DE;

body {
	font-size: 14px;
	font-family: $font-sans-serif;
	margin: 0;
	padding: 0 10px;
}

body > .header {
	@include clearfix();
	padding: 10px 0;
	
	h1 {
		float: left;
		line-height: 1;
		font-size: 30px;
		margin: 3px 0;
		padding: 0;
	}
	
	.tools {
		float: right;
	}

}

.stats {
	@include clearfix();
	background: lighten($base-color, 5%);
	padding: 6px 10px;
	float: left;
	border: 1px solid darken($base-color, 10%);
	margin: 0;
	@include border-radius(5px);
	@include background-clip(padding-box);
	margin-left: 10px;
	color: #5d5954;
	line-height: 22px;
	font-size: 13px;
}

.filter {
	background: lighten($base-color, 5%);
	padding: 6px 5px;
	float: left;
	border: 1px solid darken($base-color, 10%);
	margin: 0;
	margin-left: 10px;
	@include border-radius(5px);
	@include background-clip(padding-box);
}

.case {
	border: 1px solid #3B392D;
	@include border-radius(5px);
	margin-bottom: 20px;
	overflow: hidden;
	@include background-clip(padding-box);
	
	.header {
		@include clearfix();
		background: #3B392D;
		color: #fff;
		margin: 0;
		
		h3 {
			margin: 0;
			padding: 0;
			line-height: 1;
			font-size: 12px;
			padding: 10px;
			float: left;
		}
		
		.refresh {
			float: right;
			font-size: 12px;
			color: white;
			line-height: 1;
			padding: 10px;
			text-decoration: none;
			width: 43px;
			
			&:hover {
				text-decoration: underline;
			}
			
			&.loading {
				text-indent: -99999px;
				background: url(../images/loading.gif) no-repeat center center;
			}
		}	
	}
	
	.assertion {
		background: lighten($base-color, 5%);
		@include clearfix();
		padding: 15px 10px;
		text-shadow: 0 1px lighten($base-color, 20%);
		color: #5d5954;
		
		
		border-top: 1px solid lighten($base-color, 10%);
		border-bottom: 1px solid darken($base-color, 10%);
		
		&:first-of-type {
			border-top: none;
		}
		
		&:last-of-type {
			border-bottom: none;
			@include border-radius($bottomleft:5px, $bottomright:5px);
		}
	
		.status {
			float: left;
			width: 50px;
			text-align: left;
			
			&.pass {
				color: #40703c;
			}
			
			&.fail {
				color: #85003f;
			}
		}
		
		.console {
			float: left;
			position: relative;
			color: blue;
		}
		
		.message {
			margin-right: 10px;
			float: left;
		}
		
		.time {
			float: right;
		}
	}
	
	.buffer {	
		&.show {
			display: block;
		}
	
		display: none;
		font-family: courier;
		background: #222;
		color: #28FE14;
		padding: 5px;
		text-shadow: none;
		overflow: auto;
		
		line-height: 1.4;
		font-size: 12px;
		
		pre {
			margin: 0;
			padding: 0;
		}
	}
}