body {
  font-size: 14px;
  font-family: Helvetica-Neue, Helvetica, Serif;
  margin: 0;
  padding: 0 10px; }

.header {
  padding: 10px 0; }
  .header:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0; }
  .header h1 {
    float: left;
    line-height: 1;
    font-size: 30px;
    margin: 3px 0;
    padding: 0; }
  .header .tools {
    float: right; }

.stats {
  background: #f0efec;
  padding: 6px 10px;
  float: left;
  border: 1px solid #cfcbc1;
  margin: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  margin-right: 10px;
  color: #5d5954;
  line-height: 22px;
  font-size: 13px; }
  .stats:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0; }

.filter {
  background: #f0efec;
  padding: 6px 5px;
  float: left;
  border: 1px solid #cfcbc1;
  margin: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box; }

.case {
  border: 1px solid #3B392D;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box; }
  .case h3 {
    line-height: 1;
    margin: 0;
    padding: 0;
    background: #3B392D;
    color: #fff;
    font-size: 12px;
    padding: 10px; }
  .case .assertion {
    background: #f0efec;
    padding: 15px 10px;
    text-shadow: 0 1px white;
    color: #5d5954;
    border-top: 1px solid #fbfbfb;
    border-bottom: 1px solid #cfcbc1; }
    .case .assertion:after {
      clear: both;
      content: ".";
      display: block;
      height: 0;
      visibility: hidden;
      font-size: 0; }
    .case .assertion:first-of-type {
      border-top: none; }
    .case .assertion:last-of-type {
      border-bottom: none;
      -webkit-border-bottom-right-radius: 5px;
      -moz-border-radius-bottomright: 5px;
      border-bottom-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-bottom-left-radius: 5px; }
    .case .assertion .status {
      float: left;
      width: 50px;
      text-align: left; }
      .case .assertion .status.pass {
        color: #40703c; }
      .case .assertion .status.fail {
        color: #85003f; }
    .case .assertion .message {
      float: left; }
    .case .assertion .time {
      float: right; }
